<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.shirohana.alfred-youtube-control</string>
	<key>connections</key>
	<dict>
		<key>0463355D-1B8A-41AB-A66B-F20978A1B6BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1C74429-9886-4A52-B1D0-6198AC7FD279</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0779BB77-5207-4316-A75D-13F856C1D75E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>817CAEA8-82C7-4410-812C-0F18C38F939C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>08F5270B-6FBA-4F6C-B94B-5A94121E8CE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>264A09D9-DE34-403A-9524-C67F6525811D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>11B4522F-F8D7-44E4-B663-D7406972CCBC</key>
		<array/>
		<key>166D659A-E91D-4E0B-BF61-26BCC8D5188B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D61DBA1F-A254-4EAC-B6CA-B4CC69C22CD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1838F9BD-091F-4752-9EF3-E295DB4AAC79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FBBD9C0-E203-4B81-B5BE-C2366A3F83A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B7EF7B4-AC91-4241-AF6C-40CACD49B57C</key>
		<array/>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87E762DF-BF3B-4056-B6CE-3E81D2EFF78C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>498D9E61-66DC-4925-9026-1C6A7EFC218C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D61DBA1F-A254-4EAC-B6CA-B4CC69C22CD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B86575B-4B26-44FE-8E93-E8B07FAA5DC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8B791D5-E233-4548-8FC2-F871A90ACCC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>529DFC7D-2EB1-404E-AFAB-7B1E67D5509A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C6479A9-2106-48AE-9466-AC392BD730E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C6479A9-2106-48AE-9466-AC392BD730E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95A07E8B-6A65-4975-B2AA-B0E348333659</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D0B5790-5EC5-4C30-94BF-32155121F6E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>498D9E61-66DC-4925-9026-1C6A7EFC218C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D0DC886-51AA-4B96-BE4F-7471D800E4D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>264A09D9-DE34-403A-9524-C67F6525811D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DE729BD-88C2-4100-A2E7-C06743A52A34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0779BB77-5207-4316-A75D-13F856C1D75E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64A007D6-7C62-400D-8C24-C2C080D2CA0D</key>
		<array/>
		<key>7C784B89-2106-4F89-8AD0-135077EBF7E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C6479A9-2106-48AE-9466-AC392BD730E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>817CAEA8-82C7-4410-812C-0F18C38F939C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBE47AAB-E27A-4479-B4A0-FA444662E49E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87E762DF-BF3B-4056-B6CE-3E81D2EFF78C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBE47AAB-E27A-4479-B4A0-FA444662E49E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D104A45D-EA90-40D4-9CDF-C3E425DA6504</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5D0B5790-5EC5-4C30-94BF-32155121F6E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95A07E8B-6A65-4975-B2AA-B0E348333659</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F6CCC99-D423-4D62-872A-BD49ADEE52E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98D7C70F-E877-4AC3-94DC-66F4CB310FED</key>
		<array/>
		<key>9F6CCC99-D423-4D62-872A-BD49ADEE52E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8B791D5-E233-4548-8FC2-F871A90ACCC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FBBD9C0-E203-4B81-B5BE-C2366A3F83A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0779BB77-5207-4316-A75D-13F856C1D75E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD6EEC10-0067-4DCD-AE72-735A806992D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DE729BD-88C2-4100-A2E7-C06743A52A34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3DA2535-5298-488C-A316-5BC7EEB3B7D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D61DBA1F-A254-4EAC-B6CA-B4CC69C22CD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF74B8EE-1CF6-45E8-9364-59D13FB76818</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FBBD9C0-E203-4B81-B5BE-C2366A3F83A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1C74429-9886-4A52-B1D0-6198AC7FD279</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0779BB77-5207-4316-A75D-13F856C1D75E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBE47AAB-E27A-4479-B4A0-FA444662E49E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B86575B-4B26-44FE-8E93-E8B07FAA5DC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D104A45D-EA90-40D4-9CDF-C3E425DA6504</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EABD3FAC-75B2-4A6B-A292-DB6B98378351</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1DBFB3A-B685-4402-8852-95DB212815BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DE729BD-88C2-4100-A2E7-C06743A52A34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D61DBA1F-A254-4EAC-B6CA-B4CC69C22CD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBE47AAB-E27A-4479-B4A0-FA444662E49E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4932A19-BC03-4F9A-9B6E-489FD2CF20DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1C74429-9886-4A52-B1D0-6198AC7FD279</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EABD3FAC-75B2-4A6B-A292-DB6B98378351</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C6479A9-2106-48AE-9466-AC392BD730E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hana Shiro</string>
	<key>description</key>
	<string>Control your YouTube player in an easy way</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>YouTube Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>08F5270B-6FBA-4F6C-B94B-5A94121E8CE0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>y</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>now loading...</string>
				<key>script</key>
				<string>run script "start.scpt"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>YouTube Control</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>264A09D9-DE34-403A-9524-C67F6525811D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5D0DC886-51AA-4B96-BE4F-7471D800E4D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string># Available argv:
#   - "play": Force play current video
#   - "pause": Force pause current video
#   - "play/pause": Toggle play/pause on current video
#   - "next": Play next video
#   - "prev": Play previous video (if has)
#   - "close": Close current player
#   - "goto:%s": Redirect current YouTube page to '%s'
#   - "select": Open player selector (helper)

run script "control.scpt" with parameters {"{query}"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4B86575B-4B26-44FE-8E93-E8B07FAA5DC2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Now playing...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C8B791D5-E233-4548-8FC2-F871A90ACCC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>play/pause</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>64A007D6-7C62-400D-8C24-C2C080D2CA0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>close</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>660F6FCF-AF00-4C75-A43B-105193D2AF99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>focus</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>11B4522F-F8D7-44E4-B663-D7406972CCBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>prev</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>98D7C70F-E877-4AC3-94DC-66F4CB310FED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>next</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>1B7EF7B4-AC91-4241-AF6C-40CACD49B57C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>CBE47AAB-E27A-4479-B4A0-FA444662E49E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>87E762DF-BF3B-4056-B6CE-3E81D2EFF78C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>select</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D104A45D-EA90-40D4-9CDF-C3E425DA6504</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EABD3FAC-75B2-4A6B-A292-DB6B98378351</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading player list...</string>
				<key>script</key>
				<string>run script "select.scpt" with parameters {}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>choose a YouTube player to control</string>
				<key>title</key>
				<string>Select player</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5C6479A9-2106-48AE-9466-AC392BD730E0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>select-player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>7C784B89-2106-4F89-8AD0-135077EBF7E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>529DFC7D-2EB1-404E-AFAB-7B1E67D5509A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string># Available argv:
#   - missing value: return json as ScriptFilter
#   - long: id of `CrTb` to select and return message if have

run script "select.scpt" with parameters {"{query}"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9F6CCC99-D423-4D62-872A-BD49ADEE52E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>95A07E8B-6A65-4975-B2AA-B0E348333659</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>498D9E61-66DC-4925-9026-1C6A7EFC218C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>playlist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5D0B5790-5EC5-4C30-94BF-32155121F6E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>now loading...</string>
				<key>script</key>
				<string>run script "playlist.scpt" with parameters {}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>choose video to play</string>
				<key>title</key>
				<string>Show playlist</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D61DBA1F-A254-4EAC-B6CA-B4CC69C22CD4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>show-playlist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>B3DA2535-5298-488C-A316-5BC7EEB3B7D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>166D659A-E91D-4E0B-BF61-26BCC8D5188B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>play/pause</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0463355D-1B8A-41AB-A66B-F20978A1B6BA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>play/pause</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>E4932A19-BC03-4F9A-9B6E-489FD2CF20DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>817CAEA8-82C7-4410-812C-0F18C38F939C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>0779BB77-5207-4316-A75D-13F856C1D75E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>play/pause</string>
				<key>variables</key>
				<dict>
					<key></key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C1C74429-9886-4A52-B1D0-6198AC7FD279</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>next-video</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D1DBFB3A-B685-4402-8852-95DB212815BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>next</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AD6EEC10-0067-4DCD-AE72-735A806992D0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>next</string>
				<key>variables</key>
				<dict>
					<key></key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5DE729BD-88C2-4100-A2E7-C06743A52A34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>prev</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BF74B8EE-1CF6-45E8-9364-59D13FB76818</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>prev-video</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>1838F9BD-091F-4752-9EF3-E295DB4AAC79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>prev</string>
				<key>variables</key>
				<dict>
					<key></key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9FBBD9C0-E203-4B81-B5BE-C2366A3F83A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>If any question, please create an issue on https://github.com/shirohana/alfred3-youtube-control</string>
	<key>uidata</key>
	<dict>
		<key>0463355D-1B8A-41AB-A66B-F20978A1B6BA</key>
		<dict>
			<key>note</key>
			<string>Play/Pause</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>0779BB77-5207-4316-A75D-13F856C1D75E</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>08F5270B-6FBA-4F6C-B94B-5A94121E8CE0</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>11B4522F-F8D7-44E4-B663-D7406972CCBC</key>
		<dict>
			<key>note</key>
			<string>"focus"</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>166D659A-E91D-4E0B-BF61-26BCC8D5188B</key>
		<dict>
			<key>note</key>
			<string>Show playlist</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>1838F9BD-091F-4752-9EF3-E295DB4AAC79</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>1B7EF7B4-AC91-4241-AF6C-40CACD49B57C</key>
		<dict>
			<key>note</key>
			<string>"next"</string>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<dict>
			<key>note</key>
			<string>Main trigger</string>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>498D9E61-66DC-4925-9026-1C6A7EFC218C</key>
		<dict>
			<key>note</key>
			<string>Clean {query}</string>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>4B86575B-4B26-44FE-8E93-E8B07FAA5DC2</key>
		<dict>
			<key>note</key>
			<string>Run "control.scpt" with {query}</string>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>529DFC7D-2EB1-404E-AFAB-7B1E67D5509A</key>
		<dict>
			<key>note</key>
			<string>Select YouTube player</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>5C6479A9-2106-48AE-9466-AC392BD730E0</key>
		<dict>
			<key>note</key>
			<string>Run "select.scpt" with {}</string>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>5D0B5790-5EC5-4C30-94BF-32155121F6E2</key>
		<dict>
			<key>note</key>
			<string>"playlist"</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>5D0DC886-51AA-4B96-BE4F-7471D800E4D8</key>
		<dict>
			<key>note</key>
			<string>Open main menu</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>5DE729BD-88C2-4100-A2E7-C06743A52A34</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>64A007D6-7C62-400D-8C24-C2C080D2CA0D</key>
		<dict>
			<key>note</key>
			<string>"play/pause"</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>660F6FCF-AF00-4C75-A43B-105193D2AF99</key>
		<dict>
			<key>note</key>
			<string>"close"</string>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>7C784B89-2106-4F89-8AD0-135077EBF7E4</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>817CAEA8-82C7-4410-812C-0F18C38F939C</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>87E762DF-BF3B-4056-B6CE-3E81D2EFF78C</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>95A07E8B-6A65-4975-B2AA-B0E348333659</key>
		<dict>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>98D7C70F-E877-4AC3-94DC-66F4CB310FED</key>
		<dict>
			<key>note</key>
			<string>"prev"</string>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>9F6CCC99-D423-4D62-872A-BD49ADEE52E4</key>
		<dict>
			<key>note</key>
			<string>Run "select.scpt" with {query}</string>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>9FBBD9C0-E203-4B81-B5BE-C2366A3F83A5</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>AD6EEC10-0067-4DCD-AE72-735A806992D0</key>
		<dict>
			<key>note</key>
			<string>Play next video</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>B3DA2535-5298-488C-A316-5BC7EEB3B7D8</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>BF74B8EE-1CF6-45E8-9364-59D13FB76818</key>
		<dict>
			<key>note</key>
			<string>Play previous video</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>C1C74429-9886-4A52-B1D0-6198AC7FD279</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>C8B791D5-E233-4548-8FC2-F871A90ACCC4</key>
		<dict>
			<key>xpos</key>
			<integer>1410</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>CBE47AAB-E27A-4479-B4A0-FA444662E49E</key>
		<dict>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>D104A45D-EA90-40D4-9CDF-C3E425DA6504</key>
		<dict>
			<key>note</key>
			<string>"select"</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>D1DBFB3A-B685-4402-8852-95DB212815BE</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>D61DBA1F-A254-4EAC-B6CA-B4CC69C22CD4</key>
		<dict>
			<key>note</key>
			<string>Run "playlist.scpt" with {}</string>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>E4932A19-BC03-4F9A-9B6E-489FD2CF20DC</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>EABD3FAC-75B2-4A6B-A292-DB6B98378351</key>
		<dict>
			<key>note</key>
			<string>Clean {query}</string>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/shirohana/alfred3-youtube-control</string>
</dict>
</plist>
